<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="DataBase" class="coreservlete.Connect" >
        <property name="User" value="root"></property>
        <property name="Password" value=""></property>
        <property name="DbName" value="jdbc:mysql://localhost/mydb"></property>
    </bean>
</beans>